#Form{
	align-content: center;
	border:10px;
	border-radius:5px;
	background-color:#A9A9A9;
	width:450px;
	height:700px;
	border-color:black;
	margin:auto;
	padding:3px;
	padding-left:5px;
}
body{
	background-image:url("iNH9HZTSN.jpg");
}
.error{
	border: 2px solid red;
}
#events{
	border-radius:10px;
	border-color:black;
	background-color:blue;
	text-align:center;
	color:white;
}